<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <title>게시물 작성</title>
</head>
<body>
    <header>
        <div class = "wrap full-width">
            <div id="logo">
                <img src="https://avatars2.githubusercontent.com/u/64676070?s=460&v=4" alt="로고">
            </div>
            <ul>
                <li><a href="/border/add"><h2>게시물 생성</h2></a></li>
            </ul>
        </div>
    </header>
    <main>
        <form action="/border" method="POST">

            <div id = "editor_header">
                <input type = 'text' name='title' placeholder="제목">
                <input type = 'text' name='writer' value = "익명" placeholder="작성자">
            </div>
            <div id="editor_main">
                <textarea rows="10" name='main' placeholder="내용을 입력해주세요">
            </div>
            <div>
                <input type="submit" value="등록">
            </div>
        </form>
    </main>
    <footer>
        <div class = "wrap">
            <a href="/copyright">Copyright (c) 2020 오병진</a>
        </div>
    </footer>
</body>
</html>