<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/init.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <link rel="stylesheet" href="/css/add_border.css">
    <title>게시물 작성</title>
</head>
<body>
        <%- include('partials/header') %>
    <main>
        <div id = "blank_w"></div>
        <form id = "input_border" action="/border" method="POST" enctype="multipart/form-data">

                <div id='write_bline'>
                    <div id='editor_header'>
                        <h1><input type = 'text' name='title' placeholder="제목을 입력하세요"></h1>
                        <input type = 'text' name='mini_title' id = 'chap' placeholder="챕터 표기를 원할 시 입력하세요">
                        <input type = 'text' name='publisher' id='writer' placeholder="작성자를 입력하세요">
                        <div class="filebox"> 
                            <label for="file">대표 사진 선택</label> 
                            <input type="file" id="file" name='img' accept='image/*'> 
                          </div>
                    </div>
                </div>
                <textarea rows="40" cols = "50" name='description' placeholder="내용을 입력해주세요"></textarea>
            
            <button type="submit" class='btn'>등록</button>
        </form>
    </main>
    
        <%- include('partials/footer') %>
</body>
</html>