<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Board</title>
</head>
<body>
    <div id="box">
        <header>
            <div id="logo">
                <img src="#" alt="로고">
            </div>
    
            <div id="hyper_link">
                <a href="acc/SignIn>">회원가입</a>
                <a href="acc/login">로그인</a>
            </div>
        </header>
        <main>
            <aside>
                <div class="find_post">
                    <h2>게시물</h2>
                </div>
    
            </aside>
            <article>
                <div id = "Post">
                    <div id="head_title">
                    </div>
                </div>
            </article>
        </main>
    </div>

</body>
</html>