<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css">
    <link rel="stylesheet" href="/css/header_footer.css">
    <title>Board</title>
</head>
<body>
    <div id="box">
        <header>

            <div class = "wrap">
                <div id="logo">
                    <img src="https://avatars2.githubusercontent.com/u/64676070?s=460&v=4" alt="로고">
                </div>
                <ul>
                    <li><h2>게시물 생성</h2></li>
                </ul>
            </div>
        </header>
        <main>
            <aside>
                <div class="find_post">
                    <h2>게시물</h2>
                    <ol>
                        <li>ex1</li>
                        <li>ex1</li>
                        <li>ex1</li>
                        <li>ex1</li>
                        <li>ex1</li>
                        <li>ex1</li>

                    </ol>
                </div>
            </aside>
            <article>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur est corrupti laboriosam aliquam aperiam maxime, voluptatum vitae corporis facilis mollitia unde iste modi temporibus, repellat obcaecati, accusamus nulla earum aut.
                Voluptate eum commodi qui distinctio sint minus. Eligendi blanditiis eveniet ratione laudantium nesciunt at animi magni recusandae nam rem labore reprehenderit adipisci inventore rerum veniam ea vitae expedita, nostrum consequatur!
                Exercitationem error nesciunt ipsum perferendis veritatis eveniet. Illum exercitationem, inventore cum quas placeat consequatur dignissimos rerum natus beatae pariatur quidem officia! Cum molestias debitis quaerat nostrum, consequatur iure autem in.
                Enim, dolorem, accusantium suscipit corrupti illo provident nisi, laboriosam tenetur labore cumque fuga dolore sequi asperiores blanditiis ullam. Deleniti necessitatibus enim aperiam vitae, eius saepe optio culpa similique nemo dolor!
                Quos itaque recusandae laboriosam eum voluptate atque doloremque quis cum autem. Hic est optio quasi. Quo enim rem iste in reprehenderit debitis repellat explicabo suscipit quibusdam tempora, totam, ipsa nesciunt.
                Enim qui ab nesciunt quia illo, reiciendis laudantium repellat libero? Illum facilis quas dolor quod quidem nam optio molestias sint aliquam, voluptatibus fugit beatae sunt fuga quae pariatur, rerum perspiciatis.
                Consequuntur animi deleniti modi adipisci deserunt! Omnis repellendus molestias enim, aliquam, non laboriosam consequuntur veritatis fugit, accusamus praesentium rem est optio iure doloribus fugiat harum sint in magni modi sunt?
                Fuga nemo molestiae adipisci eum architecto recusandae iusto totam provident cupiditate exercitationem cumque blanditiis nisi, illo sequi? Quibusdam voluptatibus accusantium neque fuga, nesciunt velit ex reiciendis eos vero dolore quasi!
                Accusamus a rem tempora voluptas, adipisci eaque vero harum ipsum, sint molestias voluptatum eius eligendi sed voluptate dolor fugiat dolore officia magni aliquid dolorum non suscipit optio? Eius, necessitatibus. Consequatur.
                Expedita quos qui facilis asperiores nobis autem voluptates cupiditate iusto amet suscipit. Ea aliquam, at ut fugiat, odio quod nemo saepe amet iusto labore similique, sunt inventore voluptate delectus. Aperiam.
                
            </article>
        </main>
        <footer>
            <div class = "wrap">
                <a href="http://127.0.0.1/copyright">Copyright (c) 2020 오병진</a>
            </div>
        </footer>
    </div>

</body>
</html>