main{
    display: flex;
    width: 100%;
    width: 0 auto;
}

form{
    background-color: white;
    padding-left : 10rem;
    padding-right: 10rem;
    box-sizing: border-box;
    border-radius: 2rem;
}
#input_border{
    margin : 0 auto;
    padding-top: 5rem;
}
#input_border input{
    margin : 1rem;
    margin-left: 0;
}

#editor_header{
    display: flex;
}
#editor_main{
    width: 100;
}
textarea{
    width:100%;

}
button{
    background-color: blue;
    color: white;
    border-radius: 0.2rem;

    width:100%;
    margin-top:1rem;
    margin-bottom:1rem;



    display: inline-block;
    text-decoration: none;
    text-align: center;

}