main{
    display: flex;
    width: 100%;
    width: 0 auto;
}

form{
    background-color: white;
    padding-left : 10rem;
    padding-right: 10rem;
    box-sizing: border-box;
    border-radius: 2rem;
}
#input_border{
    margin : 0 auto;
    padding-top: 5rem;
}
#input_border input{
    margin : 1rem;
    margin-left: 0;
}

#editor_header{
    display: flex;
}
#editor_main{
    width: 100;
}
textarea{
    width:100%;

}
.btn{
    background-color:#2ea44f;
    border-color: rgba(27,31,35,0,15);
    box-shadow: 0 1px 0 rgba(27,31,35,0,1);
    color: white;

    position: relative;
    display: inline-block;
    padding: 5px 16px;

    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    
    
    border-radius: 6px;
    border: 1px solid;
    appearance: none;
    text-align: center;
    align-items: flex-start;


    width: 30%;

}