/* header */
header{
    display : block;
    top:0;
    height: 90px;
    color: black;
    position: fixed;
    border-bottom: 1px solid #ddd;
    background: rgba(255, 255, 255, 0.95);
    z-index: 10;
}
    

header h1{
    display: block;
    position: absolute;
    width: 5rem;
}
#logo a img{
    width: 5rem;
    border-radius: 25%;
    margin-left: 100%;
    padding-top: 0.3rem;
    
}
header ul{
    display: flex;
    position: absolute;
    white-space: nowrap;
    top : 0;
    right:0;

}

header ul li{
    font-size: 1.5rem;
    margin-right: 4rem;
    padding-top: 1.7rem;
}

/* footer */
footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    display : block;
    height: 42px;
}



footer a{
    position : absolute;
    width: 100%;
    margin : 0 auto;
    top : 15px;
}
