/* header */
header{
    display : block;
    top:0;
    height: 90px;
    background-color: blue;
    color: white;
    position: relative;
}
    

header h1{
    display: block;
    position: absolute;
    width: 5rem;
    
}
#logo a img{
    width: 5rem;
    border-radius: 25%;
    margin-left: 100%;
    padding-top: 0.3rem;

    
}
header ul{
    display: flex;
    position: absolute;
    white-space: nowrap;   
    right: 0;
    top : 0;
    width: auto; 
}

header ul li{
    font-size: 1.5rem;
    margin-right: 4rem;
    padding-top: 1.7rem;
}

/* footer */
footer{
    width: 100%;
    position: relative;
    bottom: 0;
    display : block;
    background-color: blue;
    color : white;
    height: 50px;
    padding-bottom:1%;
}



footer a{
    text-decoration: none;
    color:white;
    height: 2rem;
    width : 0 auto;
    
    display : block;
    position : absolute;
    right : 10px;
}
