/* header */
header{
    width: 100%;
}
header .wrap{
    background-color: blue;
    color: white;

    display: flex;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

#logo img{
    width: 5rem;
    border-radius: 25%;
    margin-left: 100%;
    
}

header .wrap ul li{
    font-size: 1.5rem;
    margin-right: 4rem;
    padding-top: 1.7rem;
}

#blank_h{
    height: 100px;
    background-color: blue;
}
/* footer */
footer{
    width: 100%;
}
footer .wrap{
    background-color: blue;
    color : white;
    height: 2rem;

    text-align: center;
    padding:1%
}



.wrap a{
    text-decoration: none;
    color:white;
}
