body{
    background: #fff;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Noto Sans Light","Malgun Gothic",sans-serif;

}


.wrap{
    min-width: 1000px;
    margin: 0 auto;
}

.full-width{
    width: 100%;
    margin-left: 0;
    margin-right: 0;

}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;

}
main{
    padding-top:91px;

}
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
input:-internal-autofill-selected{
    appearance: none; 
    background-color: none;
    background-image: none;
    color:none;
}