.find_post{
    position: block;
    float: none;
    line-height: normal;
    overflow: visible;
    width: 800px;
    margin : 0 auto;

    


}

aside{

}


.find_post ol #posts{
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
    border: 1px solid lightblue;
    padding : 1rem;
}

.find_post ol #posts #head{
    box-sizing: border-box;
}


#head {
    width : 40%;
    text-align: center;
}

#head .title{
    font-size: 1.5rem;
    padding-bottom : 0.5rem;
}
#head .semi_title{
    font-size: 0.75rem;
    display: block;
}

